@import '../node_modules/bootstrap/scss/bootstrap.scss';

$theme-bg: #fff;
$white-box: #fff;
$dark-box: #2d2d2d;

body{
    background-color:$theme-bg;
}

.myBox{
    width:75%;
    background-color:$white-box;
    padding:20px;
    margin:0 auto;
}
.myFullBox{
    width:100%;
    padding:20px;
    background-color:$dark-box;
   
}
.carousel-item img{
    margin:0 auto !important;
   
}
.carousel-caption{
    margin-top:100px;
    background: rgba(0, 0, 0, 0.5);
}
footer{
    text-align: center;
    color:#fff;
}
.logo{
    max-width: 300px;
}
.carousel-control-next{
    background:$dark-box;
}
.carousel-control-prev{
    background:$dark-box;
}